div
{
	margin-left: 300px;
}
table
{
  font-family:arial;
  width: 800px;
  margin: 0 auto;
  border-spacing: 0;
  text-shadow: 0 1px 0 #fff;
  color: #2a2a2a;
  margin-bottom: 20px;
}
 
td
{
  font-family:arial, monospace;
  height: 20px;
  padding: 0 20px;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  -webkit-box-shadow: 0 1px 0 white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

input[type=text] , select
{
  font-family:arial, monospace;
  padding: 0 20px;
  box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  -webkit-box-shadow: 0 1px 0 white;
  text-align: center;
  vertical-align: middle;
}

a:link{
  font-family:arial;
  text-decoration: none;
  color: teal;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color:black;
  text-decoration: none;
}

input[type=button]  
{
  font-family:arial;
  color: white;
  padding:3px 15px; 
  background: black; 
  border:0 none; 
  cursor:pointer;
  border-radius: 2px;
}
